<div class="panel panel-primary">
  <div class="panel-heading">Estimated location</div>
  <table class="table">
    <tbody>
      <tr>
        <td>IP</td>
        <td class="text-right"><%= query %> <span class="glyphicon glyphicon-question-sign"></span></td>
      </tr>
      <tr>
        <td>Country</td>
        <td class="text-right"><%= country %></td>
      </tr>
      <tr>
        <td>Region</td>
        <td class="text-right"><%= regionName %></td>
      </tr>
      <tr>
        <td>City</td>
        <td class="text-right"><%= city %></td>
      </tr>
      <tr>
        <td>Time Zone</td>
        <td class="text-right"><%= timezone %></td>
      </tr>
      <tr>
        <td>Latitude</td>
        <td class="text-right"><%= lat %></td>
      </tr>
      <tr>
        <td>Longitude</td>
        <td class="text-right"><%= lon %></td>
      </tr>
    </tbody>
  </table>
</div>
