<h4>Estimated location</h4>
<table align="center" class="empty">
  <tbody>
    <tr>
      <td class="field_name">IP</td>
      <td id="location_query" class="location_value"><%= query %></td>
      <td><button class="help">?</button></td>
    </tr>
    <tr>
      <td class="field_name">Country</td>
      <td id="location_country" class="location_value"><%= country %></td>
      <td><button class="help">?</button></td>
    </tr>
    <tr>
      <td class="field_name">Region</td>
      <td id="location_regionName" class="location_value"><%= regionName %></td>
      <td><button class="help">?</button></td>
    </tr>
    <tr>
      <td class="field_name">City</td>
      <td id="location_city" class="location_value"><%= city %></td>
      <td><button class="help">?</button></td>
    </tr>
    <tr>
      <td class="field_name">Time Zone</td>
      <td id="location_timezone" class="location_value"><%= timezone %></td>
      <td><button class="help">?</button></td>
    </tr>
    <tr>
      <td class="field_name">Latitude</td>
      <td id="location_lat" class="location_value"><%= lat %></td>
      <td><button class="help">?</button></td>
    </tr>
    <tr>
      <td class="field_name">Longitude</td>
      <td id="location_lon" class="location_value"><%= lon %></td>
      <td><button class="help">?</button></td>
    </tr>
  </tbody>
</table>
