<h4>Estimated location</h4>
<table class="table">
  <tbody>
    <tr>
      <td>IP</td>
      <td><%= query %> <span class="glyphicon glyphicon-question-sign"></span></td>
    </tr>
    <tr>
      <td>Country</td>
      <td><%= country %></td>
    </tr>
    <tr>
      <td>Region</td>
      <td><%= regionName %></td>
    </tr>
    <tr>
      <td>City</td>
      <td><%= city %></td>
    </tr>
    <tr>
      <td>Time Zone</td>
      <td><%= timezone %></td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td><%= lat %></td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td><%= lon %></td>
    </tr>
  </tbody>
</table>
